/* add your CSS here */
.animal{
    border: 2px solid black;
    width: 50px;
    padding: 0px 0px 0px 0px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)

}

#bulldog {
    height: 200px;
    width: 309.5px;
}
.shadow {
    box-shadow: 6px 6px 14px 9px rgba(219, 322, 212, 0.75);
-webkit-box-shadow: 6px 6px 14px 2px rgba(218, 202, 202, 0.75);
-moz-box-shadow: 6px 6px 14px 2px rgba(182, 174, 174, 0.75);
    width: 350px;
}
.center {
    display: block;
  margin-left: auto;
  margin-right: auto;
  

}
.details {
    border: 1px solid black;
    width: 300px;
    margin: 15px 10px 10px 0px;
    padding: 0px 0px 10px 10px;
}
.padding { width: 50px;
    margin: 10px 10px 10px 10px;
}
h3 {
    text-align: left;
}
div {
    padding: 10px 10px 10px 10px;
}
ul {
    list-style-type: none;
    display: inline;
}